<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="#springUrl("/css/home.css")">
<title>Employee Manager</title>
</head>
<body>
	<div align="center" >
		<h1>Employee List</h1>
		<h3>
			<a href="newEmployee">New Employee</a>
		</h3>
		<table border="1">
			#foreach( $employee in $employeeList)
				<tr>
					<td><img width=130px height=170px src="$employee.image"></td>
					<td>
					<table>
					<tr><td><b>Name</b></td><td>$employee.name</td></tr>
					<tr><td><b>Employee Code</b></td><td>$employee.code</td></tr>
					<tr><td><b>Designation</b></td><td>$employee.designation</td></tr>
					<tr><td><b>Email</b></td><td>$employee.email</td></tr>
					<tr><td><b>Phone Number</b></td><td>$employee.phone</td></tr>
					<tr><td><b>Location</b></td><td>$employee.location</td></tr>
					</table>
					</td>
					<td>
					<table width=100px border="1">
					<tr><td><a href="deleteEmployee?id=$employee.id"  onClick="return confirm('Do you want to delete $employee.code')">DELETE</a></td></tr>
					<tr><td></td></tr>
					<tr><td></td></tr>
					<tr><td></td></tr>
					<tr><td><a href="editEmployee?id=$employee.id">EDIT</a></td></tr>
					<tr><td></td></tr>
					<tr><td></td></tr>
					<tr><td></td></tr>
					<tr><td><a href="getPdfReport?id=$employee.id">pdf</a></td></tr>
					</table>
					</td>
				</tr>
			#end
		</table>
	</div>
</body>
</html>
